<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=AgeU5O7nLp9PPoycKPzMF07nKDcYy9Wu" #Make sure to change ******* to your API key.

In [4]:
r = requests.get(url)

In [5]:
r.text[0:500]

'{\n    "success": true,\n    "timestamp": 1704813903,\n    "base": "EUR",\n    "date": "2024-01-09",\n    "rates": {\n        "AED": 4.017963,\n        "AFN": 77.220225,\n        "ALL": 104.420872,\n        "AMD": 442.37315,\n        "ANG": 1.970889,\n        "AOA": 908.551272,\n        "ARS": 890.877062,\n        "AUD": 1.635635,\n        "AWG": 1.971896,\n        "AZN": 1.838298,\n        "BAM": 1.956494,\n        "BBD": 2.208044,\n        "BDT": 120.012586,\n        "BGN": 1.957268,\n        "BHD": 0.412328,\n   '

In [6]:
print(r.request.body)

None

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [7]:
# Turn the data into a dataframe
dict = r.json()
dict

{'success': True,
 'timestamp': 1704813903,
 'base': 'EUR',
 'date': '2024-01-09',
 'rates': {'AED': 4.017963,
  'AFN': 77.220225,
  'ALL': 104.420872,
  'AMD': 442.37315,
  'ANG': 1.970889,
  'AOA': 908.551272,
  'ARS': 890.877062,
  'AUD': 1.635635,
  'AWG': 1.971896,
  'AZN': 1.838298,
  'BAM': 1.956494,
  'BBD': 2.208044,
  'BDT': 120.012586,
  'BGN': 1.957268,
  'BHD': 0.412328,
  'BIF': 3116.519846,
  'BMD': 1.093978,
  'BND': 1.45587,
  'BOB': 7.556958,
  'BRL': 5.352403,
  'BSD': 1.093618,
  'BTC': 2.334141e-05,
  'BTN': 90.980011,
  'BWP': 14.807796,
  'BYN': 3.578301,
  'BYR': 21441.972661,
  'BZD': 2.204363,
  'CAD': 1.466472,
  'CDF': 2937.331196,
  'CHF': 0.931197,
  'CLF': 0.036478,
  'CLP': 1006.568528,
  'CNY': 7.779262,
  'COP': 4282.46517,
  'CRC': 568.222409,
  'CUC': 1.093978,
  'CUP': 28.990422,
  'CVE': 110.306159,
  'CZK': 24.580627,
  'DJF': 194.716214,
  'DKK': 7.456906,
  'DOP': 64.085084,
  'DZD': 146.88295,
  'EGP': 33.810818,
  'ERN': 16.409673,
  'ETB': 61.815095,
  'EUR': 1,
  'FJD': 2.445257,
  'FKP': 0.857167,
  'GBP': 0.860326,
  'GEL': 2.937299,
  'GGP': 0.857167,
  'GHS': 13.0301,
  'GIP': 0.857167,
  'GMD': 73.597389,
  'GNF': 9402.336409,
  'GTQ': 8.554427,
  'GYD': 228.789551,
  'HKD': 8.549221,
  'HNL': 26.96957,
  'HRK': 7.637904,
  'HTG': 144.036378,
  'HUF': 379.312915,
  'IDR': 16998.233225,
  'ILS': 4.077202,
  'IMP': 0.857167,
  'INR': 90.915499,
  'IQD': 1432.508324,
  'IRR': 45988.109894,
  'ISK': 150.310661,
  'JEP': 0.857167,
  'JMD': 168.887649,
  'JOD': 0.776067,
  'JPY': 157.286677,
  'KES': 173.121501,
  'KGS': 97.671797,
  'KHR': 4480.753824,
  'KMF': 491.73111,
  'KPW': 984.560067,
  'KRW': 1444.336014,
  'KWD': 0.336332,
  'KYD': 0.911357,
  'KZT': 497.244628,
  'LAK': 22538.821982,
  'LBP': 16436.43343,
  'LKR': 352.808094,
  'LRD': 206.570405,
  'LSL': 20.350801,
  'LTL': 3.230233,
  'LVL': 0.661736,
  'LYD': 5.246862,
  'MAD': 10.888262,
  'MDL': 19.410598,
  'MGA': 5001.95783,
  'MKD': 61.498758,
  'MMK': 2296.498879,
  'MNT': 3745.728016,
  'MOP': 8.802846,
  'MRU': 43.376492,
  'MUR': 49.430297,
  'MVR': 16.858509,
  'MWK': 1840.92056,
  'MXN': 18.474261,
  'MYR': 5.079887,
  'MZN': 69.194066,
  'NAD': 20.350807,
  'NGN': 968.082941,
  'NIO': 40.024203,
  'NOK': 11.333012,
  'NPR': 145.57064,
  'NZD': 1.753461,
  'OMR': 0.421112,
  'PAB': 1.093628,
  'PEN': 4.043383,
  'PGK': 4.083598,
  'PHP': 61.369439,
  'PKR': 307.645192,
  'PLN': 4.343113,
  'PYG': 7949.111384,
  'QAR': 3.983727,
  'RON': 4.972245,
  'RSD': 117.224141,
  'RUB': 99.441343,
  'RWF': 1382.841262,
  'SAR': 4.102531,
  'SBD': 9.248152,
  'SCR': 14.540131,
  'SDG': 657.481365,
  'SEK': 11.212833,
  'SGD': 1.45568,
  'SHP': 1.395257,
  'SLE': 24.631075,
  'SLL': 21606.069118,
  'SOS': 624.661343,
  'SRD': 40.297803,
  'STD': 22643.139945,
  'SYP': 14223.783546,
  'SZL': 20.460008,
  'THB': 38.169112,
  'TJS': 11.980189,
  'TMT': 3.839863,
  'TND': 3.384775,
  'TOP': 2.565762,
  'TRY': 32.754616,
  'TTD': 7.422973,
  'TWD': 33.968573,
  'TZS': 2745.885013,
  'UAH': 41.726332,
  'UGX': 4155.588564,
  'USD': 1.093978,
  'UYU': 43.025464,
  'UZS': 13548.80778,
  'VEF': 3933889.834703,
  'VES': 39.266834,
  'VND': 26660.248661,
  'VUV': 130.179088,
  'WST': 2.966899,
  'XAF': 656.21385,
  'XAG': 0.047431,
  'XAU': 0.000538,
  'XCD': 2.956531,
  'XDR': 0.819421,
  'XOF': 656.201849,
  'XPF': 119.331742,
  'YER': 273.87735,
  'ZAR': 20.34061,
  'ZMK': 9847.123455,
  'ZMW': 28.406119,
  'ZWL': 352.260533}}

In [8]:
dict.keys()

dict_keys(['success', 'timestamp', 'base', 'date', 'rates'])

In [9]:
rates = dict['rates']
rates

{'AED': 4.017963,
 'AFN': 77.220225,
 'ALL': 104.420872,
 'AMD': 442.37315,
 'ANG': 1.970889,
 'AOA': 908.551272,
 'ARS': 890.877062,
 'AUD': 1.635635,
 'AWG': 1.971896,
 'AZN': 1.838298,
 'BAM': 1.956494,
 'BBD': 2.208044,
 'BDT': 120.012586,
 'BGN': 1.957268,
 'BHD': 0.412328,
 'BIF': 3116.519846,
 'BMD': 1.093978,
 'BND': 1.45587,
 'BOB': 7.556958,
 'BRL': 5.352403,
 'BSD': 1.093618,
 'BTC': 2.334141e-05,
 'BTN': 90.980011,
 'BWP': 14.807796,
 'BYN': 3.578301,
 'BYR': 21441.972661,
 'BZD': 2.204363,
 'CAD': 1.466472,
 'CDF': 2937.331196,
 'CHF': 0.931197,
 'CLF': 0.036478,
 'CLP': 1006.568528,
 'CNY': 7.779262,
 'COP': 4282.46517,
 'CRC': 568.222409,
 'CUC': 1.093978,
 'CUP': 28.990422,
 'CVE': 110.306159,
 'CZK': 24.580627,
 'DJF': 194.716214,
 'DKK': 7.456906,
 'DOP': 64.085084,
 'DZD': 146.88295,
 'EGP': 33.810818,
 'ERN': 16.409673,
 'ETB': 61.815095,
 'EUR': 1,
 'FJD': 2.445257,
 'FKP': 0.857167,
 'GBP': 0.860326,
 'GEL': 2.937299,
 'GGP': 0.857167,
 'GHS': 13.0301,
 'GIP': 0.857167,
 'GMD': 73.597389,
 'GNF': 9402.336409,
 'GTQ': 8.554427,
 'GYD': 228.789551,
 'HKD': 8.549221,
 'HNL': 26.96957,
 'HRK': 7.637904,
 'HTG': 144.036378,
 'HUF': 379.312915,
 'IDR': 16998.233225,
 'ILS': 4.077202,
 'IMP': 0.857167,
 'INR': 90.915499,
 'IQD': 1432.508324,
 'IRR': 45988.109894,
 'ISK': 150.310661,
 'JEP': 0.857167,
 'JMD': 168.887649,
 'JOD': 0.776067,
 'JPY': 157.286677,
 'KES': 173.121501,
 'KGS': 97.671797,
 'KHR': 4480.753824,
 'KMF': 491.73111,
 'KPW': 984.560067,
 'KRW': 1444.336014,
 'KWD': 0.336332,
 'KYD': 0.911357,
 'KZT': 497.244628,
 'LAK': 22538.821982,
 'LBP': 16436.43343,
 'LKR': 352.808094,
 'LRD': 206.570405,
 'LSL': 20.350801,
 'LTL': 3.230233,
 'LVL': 0.661736,
 'LYD': 5.246862,
 'MAD': 10.888262,
 'MDL': 19.410598,
 'MGA': 5001.95783,
 'MKD': 61.498758,
 'MMK': 2296.498879,
 'MNT': 3745.728016,
 'MOP': 8.802846,
 'MRU': 43.376492,
 'MUR': 49.430297,
 'MVR': 16.858509,
 'MWK': 1840.92056,
 'MXN': 18.474261,
 'MYR': 5.079887,
 'MZN': 69.194066,
 'NAD': 20.350807,
 'NGN': 968.082941,
 'NIO': 40.024203,
 'NOK': 11.333012,
 'NPR': 145.57064,
 'NZD': 1.753461,
 'OMR': 0.421112,
 'PAB': 1.093628,
 'PEN': 4.043383,
 'PGK': 4.083598,
 'PHP': 61.369439,
 'PKR': 307.645192,
 'PLN': 4.343113,
 'PYG': 7949.111384,
 'QAR': 3.983727,
 'RON': 4.972245,
 'RSD': 117.224141,
 'RUB': 99.441343,
 'RWF': 1382.841262,
 'SAR': 4.102531,
 'SBD': 9.248152,
 'SCR': 14.540131,
 'SDG': 657.481365,
 'SEK': 11.212833,
 'SGD': 1.45568,
 'SHP': 1.395257,
 'SLE': 24.631075,
 'SLL': 21606.069118,
 'SOS': 624.661343,
 'SRD': 40.297803,
 'STD': 22643.139945,
 'SYP': 14223.783546,
 'SZL': 20.460008,
 'THB': 38.169112,
 'TJS': 11.980189,
 'TMT': 3.839863,
 'TND': 3.384775,
 'TOP': 2.565762,
 'TRY': 32.754616,
 'TTD': 7.422973,
 'TWD': 33.968573,
 'TZS': 2745.885013,
 'UAH': 41.726332,
 'UGX': 4155.588564,
 'USD': 1.093978,
 'UYU': 43.025464,
 'UZS': 13548.80778,
 'VEF': 3933889.834703,
 'VES': 39.266834,
 'VND': 26660.248661,
 'VUV': 130.179088,
 'WST': 2.966899,
 'XAF': 656.21385,
 'XAG': 0.047431,
 'XAU': 0.000538,
 'XCD': 2.956531,
 'XDR': 0.819421,
 'XOF': 656.201849,
 'XPF': 119.331742,
 'YER': 273.87735,
 'ZAR': 20.34061,
 'ZMK': 9847.123455,
 'ZMW': 28.406119,
 'ZWL': 352.260533}

In [10]:
df_global = pd.DataFrame.from_dict(dict)
df_global

     success   timestamp base        date        rates
AED     True  1704813903  EUR  2024-01-09     4.017963
AFN     True  1704813903  EUR  2024-01-09    77.220225
ALL     True  1704813903  EUR  2024-01-09   104.420872
AMD     True  1704813903  EUR  2024-01-09   442.373150
ANG     True  1704813903  EUR  2024-01-09     1.970889
..       ...         ...  ...         ...          ...
YER     True  1704813903  EUR  2024-01-09   273.877350
ZAR     True  1704813903  EUR  2024-01-09    20.340610
ZMK     True  1704813903  EUR  2024-01-09  9847.123455
ZMW     True  1704813903  EUR  2024-01-09    28.406119
ZWL     True  1704813903  EUR  2024-01-09   352.260533

[169 rows x 5 columns]

In [11]:
# Drop unnescessary columns
df_rates = df_global[["rates"]]
df_rates

           rates
AED     4.017963
AFN    77.220225
ALL   104.420872
AMD   442.373150
ANG     1.970889
..           ...
YER   273.877350
ZAR    20.340610
ZMK  9847.123455
ZMW    28.406119
ZWL   352.260533

[169 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [12]:
# Save the Dataframe
df_rates.to_csv("raw_data\exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).