<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [2]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=AgeU5O7nLp9PPoycKPzMF07nKDcYy9Wu" #Make sure to change ******* to your API key.

In [3]:
r = requests.get(url)

In [4]:
r.text[0:500]

'{\n    "success": true,\n    "timestamp": 1704891423,\n    "base": "EUR",\n    "date": "2024-01-10",\n    "rates": {\n        "AED": 4.020227,\n        "AFN": 77.224015,\n        "ALL": 104.162878,\n        "AMD": 443.836262,\n        "ANG": 1.972565,\n        "AOA": 907.117329,\n        "ARS": 891.383563,\n        "AUD": 1.632742,\n        "AWG": 1.973008,\n        "AZN": 1.859284,\n        "BAM": 1.955648,\n        "BBD": 2.209929,\n        "BDT": 120.12069,\n        "BGN": 1.954372,\n        "BHD": 0.412572,\n   '

In [5]:
print(r.request.body)

None

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [6]:
# Turn the data into a dataframe
dict = r.json()
dict

{'success': True,
 'timestamp': 1704891423,
 'base': 'EUR',
 'date': '2024-01-10',
 'rates': {'AED': 4.020227,
  'AFN': 77.224015,
  'ALL': 104.162878,
  'AMD': 443.836262,
  'ANG': 1.972565,
  'AOA': 907.117329,
  'ARS': 891.383563,
  'AUD': 1.632742,
  'AWG': 1.973008,
  'AZN': 1.859284,
  'BAM': 1.955648,
  'BBD': 2.209929,
  'BDT': 120.12069,
  'BGN': 1.954372,
  'BHD': 0.412572,
  'BIF': 3119.472472,
  'BMD': 1.094595,
  'BND': 1.456887,
  'BOB': 7.563483,
  'BRL': 5.350162,
  'BSD': 1.094515,
  'BTC': 2.4513478e-05,
  'BTN': 90.860688,
  'BWP': 14.790921,
  'BYN': 3.581322,
  'BYR': 21454.065185,
  'BZD': 2.206229,
  'CAD': 1.464738,
  'CDF': 2938.988317,
  'CHF': 0.933542,
  'CLF': 0.036315,
  'CLP': 1002.036167,
  'CNY': 7.847265,
  'COP': 4320.783053,
  'CRC': 570.361004,
  'CUC': 1.094595,
  'CUP': 29.006772,
  'CVE': 110.256454,
  'CZK': 24.566047,
  'DJF': 194.875786,
  'DKK': 7.458199,
  'DOP': 64.115324,
  'DZD': 147.261398,
  'EGP': 33.819786,
  'ERN': 16.418927,
  'ETB': 61.894068,
  'EUR': 1,
  'FJD': 2.451016,
  'FKP': 0.860706,
  'GBP': 0.860286,
  'GEL': 2.93898,
  'GGP': 0.860706,
  'GHS': 13.101104,
  'GIP': 0.860706,
  'GMD': 73.638902,
  'GNF': 9408.270804,
  'GTQ': 8.553376,
  'GYD': 229.174331,
  'HKD': 8.560336,
  'HNL': 26.991908,
  'HRK': 7.642212,
  'HTG': 144.098832,
  'HUF': 378.516486,
  'IDR': 17029.711539,
  'ILS': 4.118343,
  'IMP': 0.860706,
  'INR': 90.881502,
  'IQD': 1433.788873,
  'IRR': 46014.044077,
  'ISK': 150.298478,
  'JEP': 0.860706,
  'JMD': 169.458414,
  'JOD': 0.776507,
  'JPY': 158.997645,
  'KES': 173.186646,
  'KGS': 97.76585,
  'KHR': 4480.652723,
  'KMF': 492.021059,
  'KPW': 985.127699,
  'KRW': 1443.891665,
  'KWD': 0.336555,
  'KYD': 0.912133,
  'KZT': 497.293728,
  'LAK': 22575.456516,
  'LBP': 16450.675267,
  'LKR': 353.544213,
  'LRD': 206.686988,
  'LSL': 20.356736,
  'LTL': 3.232055,
  'LVL': 0.662109,
  'LYD': 5.259592,
  'MAD': 10.907254,
  'MDL': 19.427672,
  'MGA': 5011.657353,
  'MKD': 61.525127,
  'MMK': 2298.53235,
  'MNT': 3744.59665,
  'MOP': 8.817197,
  'MRU': 43.400992,
  'MUR': 48.369764,
  'MVR': 16.867525,
  'MWK': 1842.47403,
  'MXN': 18.574831,
  'MYR': 5.080564,
  'MZN': 69.233089,
  'NAD': 20.359701,
  'NGN': 1000.931148,
  'NIO': 40.076894,
  'NOK': 11.303698,
  'NPR': 145.377061,
  'NZD': 1.755544,
  'OMR': 0.421293,
  'PAB': 1.094515,
  'PEN': 4.061204,
  'PGK': 4.144717,
  'PHP': 61.486711,
  'PKR': 307.780457,
  'PLN': 4.340701,
  'PYG': 7974.418363,
  'QAR': 3.98597,
  'RON': 4.9722,
  'RSD': 117.228961,
  'RUB': 99.501063,
  'RWF': 1384.199039,
  'SAR': 4.105076,
  'SBD': 9.253368,
  'SCR': 14.494598,
  'SDG': 657.851612,
  'SEK': 11.200959,
  'SGD': 1.457207,
  'SHP': 1.396047,
  'SLE': 24.447754,
  'SLL': 21618.254761,
  'SOS': 625.013863,
  'SRD': 40.3205,
  'STD': 22655.909885,
  'SYP': 14231.716871,
  'SZL': 20.387513,
  'THB': 38.348591,
  'TJS': 11.985026,
  'TMT': 3.842029,
  'TND': 3.386697,
  'TOP': 2.570274,
  'TRY': 32.808741,
  'TTD': 7.426492,
  'TWD': 34.06107,
  'TZS': 2747.433796,
  'UAH': 41.81015,
  'UGX': 4158.677678,
  'USD': 1.094595,
  'UYU': 43.076661,
  'UZS': 13511.952745,
  'VEF': 3928408.181791,
  'VES': 39.28898,
  'VND': 26730.013869,
  'VUV': 129.527617,
  'WST': 2.965982,
  'XAF': 655.906163,
  'XAG': 0.047702,
  'XAU': 0.000539,
  'XCD': 2.958198,
  'XDR': 0.820136,
  'XOF': 655.906163,
  'XPF': 119.331742,
  'YER': 274.031855,
  'ZAR': 20.420874,
  'ZMK': 9852.668348,
  'ZMW': 28.485052,
  'ZWL': 352.459196}}

In [7]:
dict.keys()

dict_keys(['success', 'timestamp', 'base', 'date', 'rates'])

In [8]:
rates = dict['rates']
rates

{'AED': 4.020227,
 'AFN': 77.224015,
 'ALL': 104.162878,
 'AMD': 443.836262,
 'ANG': 1.972565,
 'AOA': 907.117329,
 'ARS': 891.383563,
 'AUD': 1.632742,
 'AWG': 1.973008,
 'AZN': 1.859284,
 'BAM': 1.955648,
 'BBD': 2.209929,
 'BDT': 120.12069,
 'BGN': 1.954372,
 'BHD': 0.412572,
 'BIF': 3119.472472,
 'BMD': 1.094595,
 'BND': 1.456887,
 'BOB': 7.563483,
 'BRL': 5.350162,
 'BSD': 1.094515,
 'BTC': 2.4513478e-05,
 'BTN': 90.860688,
 'BWP': 14.790921,
 'BYN': 3.581322,
 'BYR': 21454.065185,
 'BZD': 2.206229,
 'CAD': 1.464738,
 'CDF': 2938.988317,
 'CHF': 0.933542,
 'CLF': 0.036315,
 'CLP': 1002.036167,
 'CNY': 7.847265,
 'COP': 4320.783053,
 'CRC': 570.361004,
 'CUC': 1.094595,
 'CUP': 29.006772,
 'CVE': 110.256454,
 'CZK': 24.566047,
 'DJF': 194.875786,
 'DKK': 7.458199,
 'DOP': 64.115324,
 'DZD': 147.261398,
 'EGP': 33.819786,
 'ERN': 16.418927,
 'ETB': 61.894068,
 'EUR': 1,
 'FJD': 2.451016,
 'FKP': 0.860706,
 'GBP': 0.860286,
 'GEL': 2.93898,
 'GGP': 0.860706,
 'GHS': 13.101104,
 'GIP': 0.860706,
 'GMD': 73.638902,
 'GNF': 9408.270804,
 'GTQ': 8.553376,
 'GYD': 229.174331,
 'HKD': 8.560336,
 'HNL': 26.991908,
 'HRK': 7.642212,
 'HTG': 144.098832,
 'HUF': 378.516486,
 'IDR': 17029.711539,
 'ILS': 4.118343,
 'IMP': 0.860706,
 'INR': 90.881502,
 'IQD': 1433.788873,
 'IRR': 46014.044077,
 'ISK': 150.298478,
 'JEP': 0.860706,
 'JMD': 169.458414,
 'JOD': 0.776507,
 'JPY': 158.997645,
 'KES': 173.186646,
 'KGS': 97.76585,
 'KHR': 4480.652723,
 'KMF': 492.021059,
 'KPW': 985.127699,
 'KRW': 1443.891665,
 'KWD': 0.336555,
 'KYD': 0.912133,
 'KZT': 497.293728,
 'LAK': 22575.456516,
 'LBP': 16450.675267,
 'LKR': 353.544213,
 'LRD': 206.686988,
 'LSL': 20.356736,
 'LTL': 3.232055,
 'LVL': 0.662109,
 'LYD': 5.259592,
 'MAD': 10.907254,
 'MDL': 19.427672,
 'MGA': 5011.657353,
 'MKD': 61.525127,
 'MMK': 2298.53235,
 'MNT': 3744.59665,
 'MOP': 8.817197,
 'MRU': 43.400992,
 'MUR': 48.369764,
 'MVR': 16.867525,
 'MWK': 1842.47403,
 'MXN': 18.574831,
 'MYR': 5.080564,
 'MZN': 69.233089,
 'NAD': 20.359701,
 'NGN': 1000.931148,
 'NIO': 40.076894,
 'NOK': 11.303698,
 'NPR': 145.377061,
 'NZD': 1.755544,
 'OMR': 0.421293,
 'PAB': 1.094515,
 'PEN': 4.061204,
 'PGK': 4.144717,
 'PHP': 61.486711,
 'PKR': 307.780457,
 'PLN': 4.340701,
 'PYG': 7974.418363,
 'QAR': 3.98597,
 'RON': 4.9722,
 'RSD': 117.228961,
 'RUB': 99.501063,
 'RWF': 1384.199039,
 'SAR': 4.105076,
 'SBD': 9.253368,
 'SCR': 14.494598,
 'SDG': 657.851612,
 'SEK': 11.200959,
 'SGD': 1.457207,
 'SHP': 1.396047,
 'SLE': 24.447754,
 'SLL': 21618.254761,
 'SOS': 625.013863,
 'SRD': 40.3205,
 'STD': 22655.909885,
 'SYP': 14231.716871,
 'SZL': 20.387513,
 'THB': 38.348591,
 'TJS': 11.985026,
 'TMT': 3.842029,
 'TND': 3.386697,
 'TOP': 2.570274,
 'TRY': 32.808741,
 'TTD': 7.426492,
 'TWD': 34.06107,
 'TZS': 2747.433796,
 'UAH': 41.81015,
 'UGX': 4158.677678,
 'USD': 1.094595,
 'UYU': 43.076661,
 'UZS': 13511.952745,
 'VEF': 3928408.181791,
 'VES': 39.28898,
 'VND': 26730.013869,
 'VUV': 129.527617,
 'WST': 2.965982,
 'XAF': 655.906163,
 'XAG': 0.047702,
 'XAU': 0.000539,
 'XCD': 2.958198,
 'XDR': 0.820136,
 'XOF': 655.906163,
 'XPF': 119.331742,
 'YER': 274.031855,
 'ZAR': 20.420874,
 'ZMK': 9852.668348,
 'ZMW': 28.485052,
 'ZWL': 352.459196}

In [9]:
df_global = pd.DataFrame.from_dict(dict)
df_global

     success   timestamp base        date        rates
AED     True  1704891423  EUR  2024-01-10     4.020227
AFN     True  1704891423  EUR  2024-01-10    77.224015
ALL     True  1704891423  EUR  2024-01-10   104.162878
AMD     True  1704891423  EUR  2024-01-10   443.836262
ANG     True  1704891423  EUR  2024-01-10     1.972565
..       ...         ...  ...         ...          ...
YER     True  1704891423  EUR  2024-01-10   274.031855
ZAR     True  1704891423  EUR  2024-01-10    20.420874
ZMK     True  1704891423  EUR  2024-01-10  9852.668348
ZMW     True  1704891423  EUR  2024-01-10    28.485052
ZWL     True  1704891423  EUR  2024-01-10   352.459196

[169 rows x 5 columns]

In [10]:
# Drop unnescessary columns
df_rates = df_global[["rates"]]
df_rates

           rates
AED     4.020227
AFN    77.224015
ALL   104.162878
AMD   443.836262
ANG     1.972565
..           ...
YER   274.031855
ZAR    20.420874
ZMK  9852.668348
ZMW    28.485052
ZWL   352.459196

[169 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [11]:
# Save the Dataframe
df_rates.to_csv("exchange_rates.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).